body{
    font-family: 'Montserrat', sans-serif;
    bottom:0;
    
}
.navb{
    color:black;
    font-family:'cormorant Garamond',serif;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: all 100ms ease;
}
.nava{
    color:black;
    font-family:'cormorant Garamond',serif;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: all 100ms ease;
}
.nava:after{
    content: "";
    position: absolute;
    background-color: #F8c9ca;
    height: 3px;
    width: 45px ;
    left: 9px;
    bottom:8px;
    transition: all 100ms ease;
}
.navb:after{
    content: "";
    position: absolute;
    background-color: #F8c9ca;
    height: 3px;
    width: 0 ;
    left: 0;
    bottom: -10px;
    transition: all 100ms ease;
}
.nava:hover::after{
    width: 45px;
}
.navb:hover{
    color:#F8c9ca;
    transform: scale(105%);
    transition: all 100ms ease;
}
.nava:hover{
    color:#F8c9ca;
    transform: scale(105%);
    transition: all 100ms ease;
}
h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing:0 ;
    font-family: "monserrat" monospace, sans-serif;
}
h6{
    font-size: 17px;
}
h7{
    font-size: 20px;
    text-decoration: none;
}
h8{
    font-size: 20px;
}
.row{
    background:none;
}
.test{
    margin: 0 0 0 0.3rem;
    width: 100%;
    
}
.diana a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.diana{
    background:none;
    background:none;
    
    
}
.work{
    background:none;
    margin: 1rem 0 0 0;
}
.about{
    background: none;
    margin:1rem 0.5rem 0 -0.5rem;
}
.graphic{
    background:none;
    padding: 0 0 0 1.7vh;
    color: #F8c9ca;
    position: relative;
    top:-0.1rem;
}
.full{
    height:85vw;
    /* Adjust size of entire site
    transform: scale(70%);
    position: relative;
    bottom:10rem;
    */
}
.intro{
    width: 68vw;
}
img{
    height: auto;
    width: auto;
}
.left{
    background:none;
    
}
.right{
    background:none;
    position: relative;
    top:1.5rem;
   
}
.pictures{
    width: 69vw;
    height: 69vw;
    transition: all 500ms ease;
}

.credit{
    width: 67vw;
    position: relative;
    right: -0.5vw;
}
.credit hr{
    width:100%;
}
.credit h8{
    font-size: 0.7vw;
}
/*================================================= ONE */
.one{
    text-decoration:none;
    
    
}
.one .container{
    max-height:29rem; /*23vw*/
    overflow-y: hidden;
    

}
.one .overlay{
    overflow-y: hidden;
    position:relative;
    bottom:26vw;
    height: 26vw;
    transition: all 300ms ease;
    opacity: 0;
    

    
}
.one .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
    
}
.one .overlay h2, .one .overlay h5{
    position: relative;
    top:14vw;
}/*NEW PORTION NEED TO UPDATE ON OTHER OVERLAYS*/
.one .overlay h5{
    font-weight: 400;
    top:14vw
}
.one .overlay h2{
    font-weight: 500;
    top:14vw;
}


/*================================================= TWO */
.two{
    padding:0;
    text-decoration: none;
    position: relative;
    top:0vw;
}
.two .container{
    height:55rem;/*42vw*/
    overflow-y: hidden;
    position: inherit;
}
.two .container img{
    height: 100%;
    width: 100%;
}
.two .overlay{
    position:relative;
    bottom:48vw;
    height:51vw;
    transition: all 300ms ease;
    opacity: 0;
    
}
.two .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.two .overlay h2, .two .overlay h5{
    position: relative;
    top:25vw;
}
.two .overlay h5{
    font-weight: 400;
    top:24vw
}
.two .overlay h2{
    font-weight: 500;
    top:23.5vw;
}
/*================================================= THREE*/
.three{
    overflow: hidden;
    text-decoration: none;
    position: relative;
    top:-1.2vw;
}
.three .container{
    height:28rem; /*21vw*/
    overflow-y: hidden;
}
.three .overlay{
    position:relative;
    bottom:25vw;
    height:25vw;
    transition: all 300ms ease;
    opacity: 0%;
    
}
.three .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.three .overlay h2, .three .overlay h5{
    position: relative;
    top:14vw;
}
.three .overlay h5{
    font-weight: 400;
    top:13vw
}
.three .overlay h2{
    font-weight: 500;
    top:13vw;
}
/*================================================= FOUR*/
.four{
    background:none;
    padding:0 1.4rem 0 1.4rem;
    text-decoration: none;
    position: relative;
    top: -0.2vw;
}
.four .container{
    max-height:26rem;/*20vw*/
    overflow-y: hidden;
}
.four .overlay{
    position:relative;
    bottom:25vw;
    height:25vw;
    transition: all 300ms ease;
    opacity: 0%;
    
}
.four .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.four .overlay h2, .four .overlay h5{
    position: relative;
    top:14vw;
}
.four .overlay h5{
    font-weight: 400;
    top:14vw;
}
.four .overlay h2{
    font-weight: 500;
    top:14vw;
}
/*================================================= FIVE*/
.five{
    background:none;
    position: relative;
    top: 0.2vw;
    padding:0 1.4rem 0 1.4rem;
    text-decoration: none;
}
.five .container{
    max-height:25rem;/*20vw*/
    overflow-y: hidden;
}
.five .overlay{
    position:relative;
    bottom:25vw;
    height:25vw;
    transition: all 300ms ease;
    opacity: 0%;
    
}
.five .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.five .overlay h2, .five .overlay h5{
    position: relative;
    top:14vw;
}
.five .overlay h5{
    font-weight: 400;
    top:14vw;
}
.five .overlay h2{
    font-weight: 500;
    top:14vw;
}
/*========================Second Part==============================*/
.second span{
   color:#A8AAAC;
}
.second{
    height: 100%;
   
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1920px){
.b{
    height: 60vw;
}
.one .container{
    height: 25vw;
}
.one .overlay h2, .one .overlay h5{
    position: relative;
    top:13vw;
}
.two .container{
    height: 46vw;
}
.three .container{
    height: 23.5vw;
}
.four .container{
    height: 22vw;
}
.five .container{
    height:  22vw;
}
.five .overlay h2, .five .overlay h5{
    top: 13vw;
}
.credit{
    padding:3vw 0 0 0;
}
.pictures{
    transition:all 500ms ease;
}
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1750px){
.three .container{
    position: relative;
    top:-
    0.3vw;
}
.pictures{
    transition:all 500ms ease;
}
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1400px){

.one .overlay{
    height: 25vw;
    bottom:25vw;
}
.one .overlay h2,.one .overlay h5{
    top:9rem;
}
.two .container{
    height: 46vw;
    position: relative;
}
.two .overlay h2, .two .overlay h5{
    top:23vw;
}
.two .overlay{
    bottom:50vw;
    height: 60vw;
}
.three .overlay{
    bottom: 26vw;
    height: 26vw;
}
.three .container{
    position:relative;
    top: -0.6vw;
    height: 23.5vw;
}
.four .overlay h2, .four .overlay h5{
    top:13vw;
} 
.four .container{
    height: 22vw;
}
.five .overlay h2, .five .overlay h5{
    top:13vw;
}
.credit{
    position: relative;
    bottom: 2vw;
}
.credit .col-xl-1{
    width: 7rem;
}
.pictures{
    transition:all 500ms ease;
}

}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1200px){

    .one .container{
        height: 21vw;
        overflow-y:hidden;
    }
    .one .overlay{
        bottom:31vw;
        height: 33vw;
    }
    .one .overlay h2, .one .overlay h5{
        top: 13rem;
        font-size: 1.7vw;
    }
    .two .container{
        top:3.1vw;
        overflow-y: hidden;
        height: 46svw;
    }
    .two .overlay{
        bottom:50vw;
        height: 55vw;
    }
    .two .overlay h2{
        font-size: 2vw;
    }
    .two .overlay h5{
        font-size: 1.5vw;
    }
    .three .container{
        position: relative;
        top:-0.7vw;
    }
    .three .overlay{
        bottom:25vw;
        height: 25vw;
    }
    .three .overlay h2 {
        font-size: 2vw;
    }
    .three .overlay h5{
        font-size: 1.5vw;
    }
    .four .container{
        height: 20vw;
    }
    .four .overlay{
        bottom:24vw;
        height: 24vw;
    }
    .four .overlay h2{
        font-size: 2vw;
    }
    .four .overlay h5{
        font-size: 1.5vw;
    }
    .five .container{
        height: 20vw;
        position: relative;
        top:2.2vw;
    }
    .five .overlay{
        bottom:28vw;
        height: 28vw;
    }
    .five .overlay h2{
        font-size: 2vw;
    }
    .five .overlay h5{
        font-size: 1.5vw;
    }
    .five .overlay h2, .five .overlay h5{
        top: 11rem;
    }
    .full{
        height: 10rem;
    }
    .credit h8{
        font-size: 1vw;
    }
    .pictures{
        transition:all 500ms ease;
    }
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1050px){
    .one .overlay h2, .one .overlay h5{
        top:18vw;
    }
    .one .overlay{
        height: 31vw;
    }
    .pictures{
        transition:all 500ms ease;
    }
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:992px){
    element.style{
        position: relative;
        left: 0.5rem;
    }
    .left{
        position: inherit;
    }
    .right{
        position: relative;
    }
    .one .container{
        position: relative;
        height: 46vw;
    }
    .one .overlay{
        bottom: 46vw;
        height: 46vw;
    }
    .one .overlay h2{
        font-size: 2.5vw;
    }
    .one .overlay h5{
        font-size: 2vw;
    }
    .two .container{
        position: relative;
        height: 100vw;
    }
    .two .overlay{
        bottom:100vw;
        height: 100vw;
    }
    .two .overlay h2{
        font-size: 2.5vw;
        position: relative;
        top:40vw;
    }
    .two .overlay h5{
        font-size: 2vw;
        position: relative;
        top:40vw;
    }
    .right{
        position: relative;
        top:9vw;
    }
    .three .container{
        height: 45vw;
    }
    .three .overlay{
        bottom:50vw;
        height: 50vw;
    }
    .three .overlay h2{
        font-size: 2.5vw;
        position: relative;
        top:25vw;
    }
    .three .overlay h5{
        font-size: 2vw;
        position: relative;
        top:25vw;
    }
    .four .container{
        height: 42vw;
    }
    .four .overlay{
        bottom:50vw;
        height: 50vw;
    }
    .four .overlay h2{
        font-size: 2.5vw;
        position: relative;
        top:25vw;
    }
    .four .overlay h5{
        font-size: 2vw;
        position: relative;
        top:25vw;
    }
    .five .container{
        height: 41vw;
    }
    .five .overlay{
        bottom:45vw;
        height: 45vw;
    }
    .five .overlay h2{
        font-size: 2.5vw;
        position: relative;
        top:20vw;
    }
    .five .overlay h5{
        font-size: 2vw;
        position: relative;
        top: 20vw;
    }
    .credit{
        position: relative;
        top: 230vw;
    }
    .credit h8{font-size:1.5vw;}
    .pictures{
        transition:all 500ms ease;
    }
}
    /*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:768px){
    .one .container{
        height: 43vw;
    }
    .one .overlay{
        height: 50vw;
        bottom:45vw;
    }
    .one .overlay h2{
        top:20vw;
    }
    .one .overlay h5{
        top:20vw;
    }
    .two .container{
        height: 100vw;
    }
    .two .overlay h2 {
        top:40vw;
    }
    .two .overlay h5{
        top:40vw;
    }
    .three .overlay h2, .three .overlay h5{
        top:25vw;
    }
    .four .container{
        position: relative;
        top: 0vw;
        height: 40vw;
    }
    .four .overlay h2, .four .overlay h5{
        top:27vw;
    }
    .five .container{
        position: relative;
        top:4vw;
        height: 41.1vw;
    }
    .five .overlay h2, .five .overlay h5{
        top:23vw;
    }
    .pictures{
        transition:all 500ms ease;
    }
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:600px){
    .two .container{
        height:94vw;
    }
    .pictures{
        transition:all 500ms ease;
    }
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:578px){
    .test{
        height: 15vw;
    }
    .test .graphic{
        position: relative;
        top: -17vw;
    }
    .work{
        position: relative;
        top:-10vw;
    }
    .work .nava:after{
        position:absolute;
        top:5vw;
    }
    .about{
        position: relative;
        top: -10vw;
        left: 2vw;
    }
    .one .container{
        position: relative;
        height: 43vw;
    }
    .one .overlay{
        height: 50vw;
        bottom:50vw
    }
    .one .overlay h2{
        position: relative;
        top:25vw;
    }
    .one .overlay h5{
        position: relative;
        top: 25vw;
    }
    .pictures{
        transition:all 500ms ease;
    }
}

