body{
    font-family: 'Montserrat', sans-serif;
    bottom:0;
}
.navb{
    color:black;
    font-family:'cormorant Garamond',serif;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: all 100ms ease;
}
.nava{
    color:black;
    font-family:'cormorant Garamond',serif;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    transition: all 100ms ease;
}
.nava:after{
    content: "";
    position: absolute;
    background-color: #F8c9ca;
    height: 3px;
    width: 75% ;
    left: 7px;
    bottom:-5px;
    transition: all 100ms ease;
}
.navb:after{
    content: "";
    position: absolute;
    background-color: #F8c9ca;
    height: 3px;
    width: 0 ;
    left: 0;
    bottom: -10px;
    transition: all 100ms ease;
}
.nava:hover::after{
    width: 75%;
}
.navb:hover{
    color:black;
    transform: scale(105%);
    transition: all 100ms ease;
}
.nava:hover{
    color:black;
    transform: scale(105%);
    transition: all 100ms ease;
}
h1{
    font-size: 40px;
    font-weight:500;
    font-family: 'monserrat' monospace, sans-serif;
}
h6{
    font-size: 17px;
}
h7{
    font-size: 20px;
    text-decoration: none;
}
h8{
    font-size: 20px;
}
.row{
    background:none;
}
.test{
    padding:0 2rem;
    width: 100%;
    
}
.diana{
    background:none;
    background:none;
    
}
.work{
    background:none;
}
.about{
    background: none;
}
.graphic{
    background:none;
    padding: 0 0 0 1.7vh;
    color: #F8c9ca;
    position: relative;
    top:-0.1rem;
}
.full{
    height:85vw;
    /* Adjust size of entire site
    transform: scale(70%);
    position: relative;
    bottom:10rem;
    */
}
.intro{
    width: 68vw;
}
img{
    height: auto;
    width: auto;
}
.left{
    background:none;
    height: 1350px;
}
.right{
    background:none;
    position: relative;
    top:1.5rem;
}
.pictures{
    width: 69vw;
    height: 69vw;
}
.credit{
    width: 67vw;
    position: relative;
    right: -0.5vw;
}
.credit hr{
    width:100%;
}
.credit h8{
    font-size: 0.7vw;
}
/*================================================= ONE */
.one{
    text-decoration:none;
}
.one .container{
    max-height:23vw;
    overflow-y: hidden;

}
.one .overlay{
    overflow-y: hidden;
    position:relative;
    bottom:26vw;
    height: 26vw;
    transition: all 300ms ease;
    opacity: 0;

    
}
.one .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.one .overlay h2, .one .overlay h5{
    position: relative;
    top:14vw;
}/*NEW PORTION NEED TO UPDATE ON OTHER OVERLAYS*/
.one .overlay h5{
    font-weight: 400;
}
.one .overlay h2{
    font-weight: 500;
    top:13vw;
}


/*================================================= TWO */
.two{
    padding:0;
    text-decoration: none;
    position: relative;
    top:0vw;
}
.two .container{
    height:42vw;
    overflow-y: hidden;
    position: inherit;
}
.two .container img{
    height: 100%;
    width: 100%;
}
.two .overlay{
    position:relative;
    bottom:45vw;
    height:51vw;
    transition: all 300ms ease;
    opacity: 0;
    
}
.two .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.two .overlay h2, .two .overlay h5{
    position: relative;
    top:20vw;
}
.two .overlay h5{
    font-weight: 400;
}
.two .overlay h2{
    font-weight: 500;
    top:18.5vw;
}
/*================================================= THREE*/
.three{
    overflow: hidden;
    text-decoration: none;
    position: relative;
    top:-1.2vw;
}
.three .container{
    height:21vw;
    overflow-y: hidden;
}
.three .overlay{
    position:relative;
    bottom:25vw;
    height:25vw;
    transition: all 300ms ease;
    opacity: 0%;
    
}
.three .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.three .overlay h2, .three .overlay h5{
    position: relative;
    top:14vw;
}
.three .overlay h5{
    font-weight: 400;
}
.three .overlay h2{
    font-weight: 500;
    top:13vw;
}
/*================================================= FOUR*/
.four{
    background:none;
    padding:0 1.4rem 0 1.4rem;
    text-decoration: none;
    position: relative;
    top: -0.2vw;
}
.four .container{
    max-height:20vw;
    overflow-y: hidden;
}
.four .overlay{
    position:relative;
    bottom:25vw;
    height:25vw;
    transition: all 300ms ease;
    opacity: 0%;
    
}
.four .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.four .overlay h2, .four .overlay h5{
    position: relative;
    top:14vw;
}
.four .overlay h5{
    font-weight: 400;
}
.four .overlay h2{
    font-weight: 500;
    top:13vw;
}
/*================================================= FIVE*/
.five{
    background:none;
    position: relative;
    top: 0.2vw;
    padding:0 1.4rem 0 1.4rem;
    text-decoration: none;
}
.five .container{
    max-height:20vw;
    overflow-y: hidden;
}
.five .overlay{
    position:relative;
    bottom:25vw;
    height:25vw;
    transition: all 300ms ease;
    opacity: 0%;
    
}
.five .overlay:hover{
    position: relative;
    color:#FFF;
    background:#F4C1C7;
    transition:all 300ms ease;
    opacity: 100%;
}
.five .overlay h2, .five .overlay h5{
    position: relative;
    top:14vw;
}
.five .overlay h5{
    font-weight: 400;
}
.five .overlay h2{
    font-weight: 500;
    top:13vw;
}
/*========================Second Part==============================*/
.second span{
   color:#A8AAAC;
}
.second{
    height: 77vh;
   
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1400px){
.left{
    height: 72rem;
}
.one .overlay{
    height: 23vw;
    bottom:23vw;
}
.one .overlay h2,.one .overlay h5{
    top:9rem;
}
.two .container{
    height: 45vw;
    position: relative;
}
.two .overlay h2, .two .overlay h5{
    top:20vw;
}
.three .overlay{
    bottom: 22vw;
    height: 20vw;
}
.three .container{
    height: 350px;
}
.four .overlay h2, .four .overlay h5{
    top:13vw;
} 
.four .container{
    height: 328px;
}
.five .overlay h2, .five .overlay h5{
    top:13rem;
}
.credit{
    position: relative;
    bottom: 2vw;
}
.credit .col-xl-1{
    width: 7rem;
}
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:1200px){
    .pictures{
        transform: scale(.9);
        width: 80%;
        position: relative;
        
    }
    .left{
        height: 87rem;
    }
    .one .overlay{
        bottom:32rem;
        height: 32rem;
    }
    .one .overlay h2, .one .overlay h5{
        top: 13rem;
    }
    .two .container{
        top: 4rem;
        height: 50rem;
    }
    .three .overlay{
        bottom:31rem;
        height: 25rem;
    }
    .three .container{
        height: 25rem;
    }
    .four .container{
        height: 26rem;
    }
    .four .overlay{
        bottom:28.5rem;
        height: 26rem;
    }
    .five .container{
        height: 26rem;
    }
    .five .overlay{
        bottom:28.5rem;
        height: 26rem;
    }
    .five .overlay h2, .five .overlay h5{
        top: 11rem;
    }
    .full{
        height: 10rem;
    }
    
}
/*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:992px){
    .pictures{
        position: relative;
        bottom:8rem;
    }
    .one .overlay{
        height: 23rem;
        bottom: 23rem;
    }
    .one .overlay h2, .one .overlay h5{
        top: 10rem;
    }
    .two{
        position: relative;
        top:-2rem
    }
    .three .overlay{
        bottom:22rem;
        height: 22rem;
    }
    .four .overlay{
        height: 20.5rem;
        bottom:20.5rem;
    }
    .four .overlay h2, .four .overlay h5{
        top:8rem;
    }
    .five .overlay{
        bottom:20.5rem;
        height: 20.5rem;
    }
    .five .overlay h2, .five .overlay h5{
        top: 8rem;
    }
    .right{
        position: relative;
        top:-2rem;
    }
    .five{
        position: inherit;
        top:-1rem;
    }
    .credit{
        position: relative;
        top:-23rem;
    }
}
    /*========================MEDIA QUEIRES ===========================*/
@media screen and (max-width:768px){
    .left{
        position: relative;
        top:3rem;
        height: 74rem;
    }
    .one .container{
        height: 16rem;
    }
    .one .overlay{
        height: 16rem;
        bottom:16rem;
    }
    .one .overlay h2, .one .overlay h5{
        top:6rem;
    }
    .two .container{
        height: 33rem;
    }
    .two .overlay h2, .two .overlay h5{
        top:30rem;
    }
    .three .overlay h2, .three .overlay h5{
        top:12rem;
    }
    .four .overlay h2, .four .overlay h5{
        top:11rem;
    }
    .five .overlay h2, .five .overlay h5{
        top:11rem;
    }
    .right{
        position: relative;
        top:-13rem;
        height: 50rem;
    }
    .four{
        position: relative;
        top:-4.5rem;
    }
    .four .container{
        height: 15rem;
    }
    .five{
        position: relative;
        top:-5rem;
        height: 1rem;
    }
    .five .container{
        position: relative;
        height: 14.3rem;
    }
}

